@import '~antd/dist/antd.css';

body,
html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
